@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@700&display=swap');

.App {
    overflow-x: hidden;
}

// Status Bar
.statusbar {
    position: relative;
    z-index: 1;

    p {
        margin-bottom: 0;
    }
}

// header
header {
    position: absolute;
    z-index: 1;
    padding: 0.5rem 0;
    top: 5.375rem;
    width: 100%;

    button {
        width: 18rem;
        height: 4rem;
        padding: 0 3rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .navbar-expand-lg {
        .navbar-nav {            
            .nav-link {
                font-size: 1rem;
                font-weight: 500;
                color: #ffffff;
                padding-left: 1.5625rem;
                padding-right: 1.5625rem;
                cursor: pointer;
            }

            @include media-breakpoint-down(lg) {
                background-image: repeating-linear-gradient(180deg, #FEA715, #FA7D00 100%);
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
    
    .navbar-toggler {
        padding: 0.75rem 1.5rem;
        width: auto;
        margin-left: 1rem;
    }
}

.navbar-brand {
    img {
        height: 5.125rem;
    }
}

button,
.btn {
    font-family: 'Luckiest Guy', cursive;
    padding: 1.25rem 4.25rem;
    color: #ffffff;
    font-size: 1.3125rem;
    border: none;
    border-radius: 0;
    background-image: repeating-linear-gradient(180deg, #FEA715, #FA7D00 100%);
    white-space: nowrap;
}

.connectWallet {
    margin-left: 12rem;
    color: #FEA715;
    white-space: nowrap;
}

.banner {
    position: relative;
    padding: 18.75rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:after {
        content: "";
        position: absolute;
        bottom: -10rem;
        width: 100%;
        height: 10rem;
        background-image: linear-gradient(179deg, black, transparent);
    }

    .title {
        color: #ffffff;
        margin-bottom: 12.25rem;

        @include media-breakpoint-down(lg) {
            font-size: 5.625rem;
            margin-bottom: 2.25rem;
        }

        @include media-breakpoint-down(md) {            
            text-align: left;
        }
    }    
    
    .social-link {
        li {
            list-style: none;

            a {
                display: flex;
                align-items: center;
                font-size: 1.125rem;
                font-family: 'Luckiest Guy', cursive;
                color: #ffffff;

                img {
                    margin-right: 0.875rem;
                }
            }
        }
    }

    .banner-thumbnail {
        display: flex;
        position: absolute;
        top: -23rem;
        left: -5rem;
        z-index: -1;

        img {
            max-width: 100%;
        }

        &:after, &:before {
            content: "";
            display: inline-block;
            position: absolute;
            vertical-align: middle;
            width: 98%;
            height: 1px;
            top: 60%;
            background-color: #ffffff;
            z-index: -1;
        }

        &:before {
            left: -50%;
            opacity: 0.3;
        }

        &:after {
            right: -80%;
            height: 3px;
        }
    }

    .ntf-info {
        h2 {
            padding-bottom: 1rem;
            border-bottom: 1px dotted #ffffff;
            
            @include media-breakpoint-up(xl) {
                margin-bottom: 7rem;
            }
        }

        p {
            padding: 1rem 0;
            font-size: 1.875rem;
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 12.5rem 0;
    }

    @include media-breakpoint-down(sm) {
        .sub-title {
            font-size: 2.5rem;
        }

        .title {
            font-size: 4.5rem;
        }
    }

    .divide {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 1.875rem 0;
    
        &:before {
            content: "";
            display: inline-block;
            width: 51%;
            height: 1px;
            background-color: rgba($color: #ffffff, $alpha: 0.7);
        }
    
        &:after {
            content: "";
            display: inline-block;
            width: 49%;
            height: 3px;
            background-color: #ffffff;
        }
    }
}

// product//
.product {
    padding: 1rem;

    img {
        width: 100%;
    }

    .loading-image {
        height:100%;
        object-fit: cover;
        object-position: center;
    }
}

// about//
.about-section {
    position: relative;
    padding: 10.3125rem 0;


    .about-bg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
    }

    .title {
        margin-bottom: 6.875rem !important;
    }

    @include media-breakpoint-down(lg) {
        padding: 3.125rem 0;

        .title {
            margin-bottom: 1.875rem;
        }
    }
}

.story {
    padding: 6rem 0;
    border-bottom: 1px solid rgba(40, 43, 47, 0.6);
    position: relative;

    .number {
        font-family: 'Orbitron', sans-serif;
        color: #FEA715;
    }

    h2 {
        color: rgba($color: #ffffff, $alpha: 0.2);
    }

    @include media-breakpoint-down(lg) {
        padding: 3.5rem 0;

        h2 {
            margin-bottom: 3rem !important;
        }
    }
}

// teams //
.teams {
    position: relative;
    padding: 11.25rem 0;

    .team {
        margin-bottom: 1.875rem;

        img {
            margin-bottom: 2.5rem;
            width: 100%;
        }

        h4 {
            margin-bottom: 0.9375rem;
        }
    }

    @include media-breakpoint-down(lg) {
        padding: 5rem 0;
    }
}

//community//
.community {
    padding: 7rem 0;

    img {
        @include media-breakpoint-down(lg) {
            max-width: 100%;
            padding: 3rem 0;
        }
    }
}

// Footer //
footer {
    padding: 6rem 0;

    ul {
        li {
            list-style: none;
        }
    }

    .navbar-brand {
        @include media-breakpoint-up(lg) {
            margin-left: 11rem;
        }
    }

    .footer-links {
        li {
            list-style: none;
            margin-bottom: 1rem;

            a {
                font-size: 1rem;
                font-weight: 500;
                color: #ffffff !important;
                cursor: pointer;
            }
        }
    }

    .social {
        li {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                background-color: rgba($color: #282B2F, $alpha: 0.5);
                transform: rotate(45deg);

                img {
                    transform: rotate(315deg);
                }
            }
        }
    }

    p {
        font-size: 1rem;
        color: #ffffff;
    }
}


.wrapper {
    position: absolute;
    top: 13rem;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}
  
.timeline {
    height: 26.875rem;
    width: 3px;
    background-color: #282B2F;
}
  
.square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #282B2F;
    width: 1rem;
    height: 1rem;
    z-index: 1;
    transform: rotate(45deg) !important;
}
  
.squareWrapper {
    position: relative;
    margin-bottom: -1rem;
}

.mint-ticket {
    padding: 5rem 3rem;
    margin: auto;

    input {
        width: 3.5rem;
        font-size: 3rem;
        font-family: 'Luckiest Guy', cursive;       
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .change-number {
        padding: 0 1.5rem;
    }
}